{% extends 'layouts/page.njk' %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">{{govukCaption}}</span>
          <h1 class="govuk-heading-l">{{govukHeading}}</h1>
          <p class="govuk-body-l">{{govukBodyTitle}}</p>
        </div>
        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            <dl>
              <dt class="govuk-!-margin-bottom-1">From:
              <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">
                Department for Environment, Food & Rural Affairs</a> and
              <a href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency">
                Animal and Plant Health Agency</a>
              </dt>
              <dt class="govuk-!-margin-bottom-1">Published 14 December 2023</dt>
              <dt class="govuk-!-margin-bottom-1">Last updated 23 February 2024 —
              <a
                href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-the-eu-to-great-britain#full-publication-update-history">
                See all updates</a>
              </dt>
            </p>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="div-background govuk-!-padding-bottom-1 govuk-!-padding-top-2">
              <h1 class="govuk-!-margin-bottom-2 govuk-!-margin-left-2 govuk-heading-s" id="query" name="query">Applies to
          England, Scotland and Wales</h1>
              <p class="govuk-body-s govuk-!-margin-left-2">
                <a
            href="https://www.daera-ni.gov.uk/publications/import-requirements-plants-plant-produce-and-other-objects">
            Guidance for Northern Ireland</a>
              </p>
            </div>
            <p class="govuk-body-s govuk-!-margin-bottom-2 govuk-!-margin-top-2"> Use this service to find out</p>
            <ul>
              <li>
                <p class="govuk-body-s govuk-!-margin-bottom-1">the latest rules for importing plants or plant products</p>
              </li>
              <li>
                <p class="govuk-body-s govuk-!-margin-bottom-1">if a plant could carry pests and diseases that need reporting
            </p>
              </li>
              <li>
                <p class="govuk-body-s govuk-!-margin-bottom-1">current information on non-native plants pests and diseases
              that are a risk to Great Britain</p>
              </li>
            </ul>
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ 
          govukButton({
            text: "Start now",
            href: "/plant-health",
            isStartButton: true
        }) 
        }}
            <h3 class="govuk-heading-m">Before you start</h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">You'll need the name of the plant/ plant product/ pest or disease to find plant
          health
          information</p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">You can use:</p>
            <ul class="govuk-body-s govuk-!-margin-bottom-1">
              <li>the scientific name or any synonyms</li>
              <li>a common name in some cases</li>
            </ul>
            <p class="govuk-body-s govuk-!-margin-bottom-1">This service</p>
            <ul class="govuk-body-s govuk-!-margin-bottom-1">
              <li>does not provide trade information about exporting plants or plant products</li>
              <li>it is not a pest or disease identification service</li>
              <li>does not have information about pests and diseases native to Great Britain</li>
            </ul>

          </div>
          <div class="govuk-grid-column-one-third">
            <hr class="horizontal_line govuk-section-break govuk-section-break--visible">
            <h2 class="govuk-heading-s govuk-!-margin-top-1">Related content</h2>
            <div class="govuk-body-s">
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a
              href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-the-eu-to-great-britain#register-and-pre-notify-your-goods-on-the-relevant-import-it-system">
              Import plants and plant products from the EU to Great Britain</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a
              href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain">
              Import plants and plant products from non-EU countries to Great Britain</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/import-high-risk-food-and-feed-not-of-animal-origin-from-the-eu-to-great-britain">
              Import high-risk food and feed not of animal origin from the EU to Great Britain</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/import-of-products-animals-food-and-feed-system">
              Import of products, animals, food and feed system (IPAFFS)</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/cites-imports-and-exports">
              Import or export endangered species: check if you need a CITES permit</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/comply-with-marketing-standards-for-fresh-fruit-and-vegetables">
              Fresh fruit and vegetable marketing standard</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/plant-health-controls">Plant health controls</a>
              </p>
              <p class="govuk-body-s">
                <a href="https://planthealthportal.defra.gov.uk/pests-and-diseases/reporting-a-pestdisease/">Reporting a
              plant pest or disease</a>
              </p>
            </div>
          </div>
        </div>

        {% include "partials/get-help.njk" %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <p class="govuk-body">
              <dl>
                <dt class="govuk-!-margin-bottom-1">Published 14 December 2023</dt>
                <dt class="govuk-!-margin-bottom-1">Last updated 23 February 2024 —
              <a
                href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-the-eu-to-great-britain#full-publication-update-history">
                See all updates</a>
                </dt>
              </p>
            </div>
          </div>
        </main>
      </div>
    {% endblock %}