{% extends 'layouts/page.njk' %}
{% block content %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% call appPageBody() %}
{{ govukInput({
  label: {
    text: "Search for a plant, pest or disease",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "event-name",
  name: "eventName"
}) }}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Search"
}) }}
{% endcall %}
{% endblock %}
